@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Variables */

:root {
    --boxShadow: 0 8px 10px -2px rgba(75, 75, 75, 0.4);
    --transitions: all .5s ease-in-out;
  }

   /* General Styling */


body {
    color: whitesmoke;
    background-color: #222;
    font-family: 'Roboto', sans-serif;
}



.heading h1 {
    padding: 10rem 8rem;
}

.images {
    padding: 2rem 0 0 0;
    background-color: rgba(21, 29, 109, 0.13);
    overflow: hidden;
    align-items: center;
    gap: 3rem;
}

.images img {
    width: 80vw;
}
