@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--DropShadow: 0 8px 10px -2px rgba(75, 75, 75, 0.4)
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* General Styling */
 body {
    margin: 0;
    padding: 0;
    height: 400vh;
	scroll-behavior: smooth;
 }

 /* Utility Classes */

 .alternate {
	background-color: rgb(27, 27, 27);
	color: whitesmoke;
 }

 .container {
   height: 1080px;
   background-image: url(../images/background-image.jpg);
   background-size: cover;
   background-position: fixed;
   filter: brightness(.9);
   overflow: hidden;
   transform: translateY(-100px);
 }

 /*  */

 .main-text {
	max-width: 60ch;
	padding: 15rem;
	font: 1.5em "Roboto", sans-serif;
	font-weight: bold;
 }


 /* navbar */

 nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;

    height: 100px;
    padding: 0 5%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--DropShadow);
 }

 nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: blueviolet;
}
 nav .logo a {
    text-decoration: none;
 }

 nav .logo a:hover, 
 nav .logo a:focus {
	text-shadow: 0 8px 10px rgba(75, 75, 75, 0.4) ;
 }


nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 nav .links li {
    list-style: none;
 }

 nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: 900;
    color: black;
    text-decoration: none;
 }

 nav .links a:hover,
 nav .links a:focus {
   transform: skew(-5deg);
    color: #7d3e8f;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all .1s ease;
 }

 #nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: rgb(0, 0, 0);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

/* Sections  */



#about {
	transform: translateY(-10rem);
	height: 70vh;
	width: auto;
	padding: 10rem 10rem 0 10rem;
	font: 1.2em 'Roboto', sans-serif;
	display: flex;
	gap: 2rem;
	border-bottom: 2px solid black;
}

#join-now {
	transform: translateY(-10rem);
	height: 70vh;
	width: auto;
	padding: 10rem 10rem 0 10rem;
	font: 1.2em 'Roboto', sans-serif;
	display: flex;
	gap: 2rem;
	border-bottom: 2px solid black;
}


/*...............
     BREAKPOINTS
.................. */

@media screen and (max-width: 768px) {


	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
      color: #fff;
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

	.container p {
		padding: 15rem 5rem 5rem 5rem;
		font-size: 1.25em;
	}

	#about {
		padding: 0 5rem 0 5rem;
		font-size: 1.25em;
	}

	#join-now {
		padding: 0 5rem 0 5rem;
		font-size: 1.25em;
	}


	
}


@media screen and (max-width: 576px) {

	.container p {
		padding: 15rem 2rem 2rem 2rem;
	}
	
	#about {
		padding: 0 2rem 0 2rem;
	}

	#join-now {
		padding: 0 2rem 0 2rem;
	}

}