@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*.......
   RESET
.........*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
  :root {
    --boxShadow: 0 8px 10px -2px rgba(75, 75, 75, 0.4);
    --transitions: all .5s ease-in-out;
  }

/* .....
General Styling
..... */

body {
  margin: 20px;
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* Heading */
.heading {
  margin: 0;
  color: white;
  text-align: center;
  padding: .5rem;
  padding-top: 6rem;
  box-shadow: var(--boxShadow);
}

/* Cards styling */

.container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 270px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
}

.card:hover, .card:focus {
  background-color: #333;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  border: 2px solid white;
  transition: 0.1s ease;
}

.card:hover .card-image {
  box-shadow: none;
}

.card-image {
  background-color: aqua;
  height: 150px;
  margin-bottom: 15px;
/*border-bottom: 1px solid rgba(0, 0, 0, 0.664);*/
  box-shadow: 0 8px 5px -2px #88888898;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}

.card h2 {
  text-align: center;
}

.card h2, .card p {
  padding: 10px;
}

.card p + p {
  text-indent: 20px;
}

/* Card Emojis */

.card-image {
  position: relative;
}
.role {
  font-size: 45px;
  padding: .5rem;
  position: absolute;
  bottom: -17%;
  left: 36%;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
}
/* Card Animations */
.description {
  display: none;
}
.card:hover .description {
  display: block;
  transition: all .1s ease-in-out;
}

.card:hover .role{
  display: none;
  transition: var(--transitions);
}
/* All the Cards */


.card1 {
  background-image:  linear-gradient(45deg,  #0707a3, #086414);
}

.card2 {
  background-image: url(https://source.unsplash.com/rDEOVtE7vOs);
}

.card3 {
  background-image: url(https://source.unsplash.com/c_GmwfHBDzk);
}
